<!-- Sidebar -->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading">Football Core Admin</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="dashboard">
            <i class="fas fa-home"></i> Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="states">
            <i class="fa-regular fa-thumbs-up"></i> States
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="roles">
            <i class="fa-regular fa-address-book"></i> Roles
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="seasons">
            <i class="fa-regular fa-flag"></i> Seasons
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="leagues">
            <i class="fa-solid fa-earth-europe"></i> Leagues
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="users">
            <i class="fa-solid fa-users"></i> Users
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="teams">
            <i class="fa-solid fa-user-tie"></i> Teams
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="matches">
            <i class="fa-solid fa-futbol"></i> Matches
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" data-view="summaries">
            <i class="fa-solid fa-square-poll-vertical"></i> Summaries
        </a>
        <a href="#" class="list-group-item list-group-item-action p-2" id="logout-button">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </a>
    </div>
</div>