<div class="container-fluid px-4">
    <div class="row">
        <!-- card seasons -->
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="card animated-card d-flex flex-row align-items-center mb-4 p-2">
                <div class="image-container">
                    <img src="images/season.png" alt="Season Icon">
                </div>
                <div class="card-body text-end text-white">
                    <h3 class="uppercase mb-0">seasons</h3>
                    <h3 id="totalSeasons" class="fw-bold">0</h3>
                </div>
            </div>
        </div>
    
        <!-- card leagues -->
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="card animated-card d-flex flex-row align-items-center mb-4 p-2">
                <div class="image-container">
                    <img src="images/league.png" alt="League Icon">
                </div>
                <div class="card-body text-end text-white">
                    <h3 class="uppercase mb-0">leagues</h3>
                    <h3 id="totalLeagues" class="fw-bold">0</h3>
                </div>
            </div>
        </div>
    
        <!-- card users -->
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="card animated-card d-flex flex-row align-items-center mb-4 p-2">
                <div class="image-container">
                    <img src="images/users.png" alt="User Icon">
                </div>
                <div class="card-body text-end text-white">
                    <h3 class="uppercase mb-0">users</h3>
                    <h3 id="totalUsers" class="fw-bold">0</h3>
                </div>
            </div>
        </div>
    
        <!-- card teams -->
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="card animated-card d-flex flex-row align-items-center mb-4 p-2">
                <div class="image-container">
                    <img src="images/teams.png" alt="Team Icon">
                </div>
                <div class="card-body text-end text-white">
                    <h3 class="uppercase mb-0">teams</h3>
                    <h3 id="totalTeams" class="fw-bold">0</h3>
                </div>
            </div>
        </div>
    
        <!-- card matches -->
        <div class="col-md-4 col-sm-6 mb-2">
            <div class="card animated-card d-flex flex-row align-items-center mb-4 p-2">
                <div class="image-container">
                    <img src="images/matches.png" alt="Match Icon">
                </div>
                <div class="card-body text-end text-white">
                    <h3 class="uppercase mb-0">matches</h3>
                    <h3 id="totalMatches" class="fw-bold">0</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="card p-3 shadow">
                <h5 class="text-center mb-3">Registered users per month</h5>
                <canvas id="usersChart" height="100"></canvas>
            </div>
        </div>
    </div>
</div>