@import "tailwindcss";

:root {
  --color-primary: #228B22;
  --color-secondary: #A8E100;
  --color-light: #27AE60;
  --color-hover: #1ABC9C;
  --color-background: #151616;
  --color-navbar: #0e0f0f;
  --color-target: #202121;
  --color-text-hover: #00FF88;
  --color-home: #fe5f55;
  --color-draw: #00C49F;
  --color-custom-scroll: #4B5563;

  /* Definición de fuentes personalizadas */
  --font-title: "Monomaniac One", sans-serif;
  --font-subtitle: "Comic Neue", sans-serif;

  /* Definición de padding del contenedor */
  --container-padding-default: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
}

/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-subtitle);
  background-color: var(--color-background);
} */

/* .container { */
  /* Centrar el contenedor */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 100%; Asegura que el contenedor ocupe todo el ancho disponible */
  /* max-width: 1280px; Un ejemplo de max-width si quieres un ancho fijo como Tailwind */

  /* Padding por defecto */
  /* padding-left: var(--container-padding-default); */
  /* padding-right: var(--container-padding-default); */
/* } */

/* .bg-navbar { */
  /* background-color: var(--color-navbar); */
/* } */

/* .bg-target { */
  /* background-color: var(--color-target); */
/* } */

/* .bg-background {
  background-color: var(--color-background);
}

.font-subtitle {
  font-family: var(--font-subtitle);
}

.text_hover:hover {
  color: var(--color-text-hover);
}

.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
}

.t-shadow {
  text-shadow: 7px 7px #193cb8;
}

.heropng {
  filter: drop-shadow(1px 1px 15px #4f5252);
} */

/* ::-webkit-scrollbar { */
  /* width: 12px; */
  /* Grosor del scrollbar */
  /* height: 12px; */
  /* Grosor horizontal */
/* } */

/* ::-webkit-scrollbar-thumb { */
  /* background-color: var(--color-navbar); */
  /* Rojo */
  /* border-radius: 10px; */
  /* Bordes redondeados */
/* } */

/* ::-webkit-scrollbar-track { */
  /* background: transparent; */
  /* Fondo del scrollbar */
/* } */

/* Puntos de interrupción (breakpoints) para el padding */
/* @media (min-width: 640px) { sm breakpoint */
  /* .container { */
    /* padding-left: var(--container-padding-sm); */
    /* padding-right: var(--container-padding-sm); */
  /* } */
/* } */

/* @media (min-width: 1024px) { lg breakpoint */
  /* .container { */
    /* padding-left: var(--container-padding-lg); */
    /* padding-right: var(--container-padding-lg); */
  /* } */
/* } */

/* @media (min-width: 1280px) { xl breakpoint */
  /* .container { */
    /* padding-left: var(--container-padding-xl); */
    /* padding-right: var(--container-padding-xl); */
  /* } */
/* } */

/* @media (min-width: 1536px) { 2xl breakpoint */
  /* .container { */
    /* padding-left: var(--container-padding-2xl); */
    /* padding-right: var(--container-padding-2xl); */
  /* } */
/* } */